.card {
    height: 100%;
}

.card i {
    font-size: .5rem;
}

.card span {
    font-weight: bold;
}

.my-card-img {
    max-height: 250px;
    object-fit: cover;
    object-position: center;
    border: none;
}